##############################
## IntelliJ
##############################
out/
traget/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
animals*.*
hs_err_pid*
##############################
.idea/misc.xml
modules.xml
vcs.xml
workspace.xml